.projectspointer {
    position: absolute;
    width: 23px;
    height: 145px;
    left: 1px;
    top: 256px;
    z-index: 20;

    background: #1D5808;
}

.projectstable {
    position: absolute;
    padding-top: 167px;
    padding-left: 382px;
    width: 100%;
    height: 990px;
    table-layout: fixed;

    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    text-align: center;

    color: #000000;
}

.projectstable tr:nth-child(odd) {
    background: #F8F7F7;
}

.projectsfirstrow {
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 25px;
    line-height: 34px;
}

.projectsrow {
    height: 73.5px;

    font-size: 20px;
    line-height: 27px;
}

.projectsrow:hover td {
    background: #e7e4e4;
    cursor: pointer;
}

.quickbuybutton {
    width: 55px;
    height: 52px;
    margin-left: 20px;

    background: #C4C4C4;
    border: 1px solid #A4A7A2;
    box-sizing: border-box;
    backdrop-filter: blur(4px);

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;

    color: #F8F8F8;
}

.quickbuybutton:hover {
    background: #333333;
}
